@import 'reset';
@import 'base';
@import 'palette';
@import 'components/notification/index';

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 570px 570px;
    width: 1171px;
    margin: auto;
    padding-top: 50px;
}
