$border-color-1: #E2E6E7;
$color-2: #FFC12D;
$color-default: #FFC12D;
$color-0: #2C3E50;
$color-2-2: #A47503;
$color-4: #97E411;
$color-4-4: #558502;
$color-5:#FEB1A4;
$color-5-5:#D52E13;
$color-6:#85EBFA;
$color-6-6:#0787D4;
$color-7:#AACDF6;
$color-7-7:#5B568E;
$border-color-2: #C89210;
$border-color-4: #7BC200;
$border-color-5: #F55C43;
$border-color-6:#47B4F6;
$border-color-7: #8781BD;
